* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 0.9rem;
  background-color: #222222;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
  color: white;
}

p {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  padding: 1rem 0;
  color: white;
}

span {
  display: block;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.car-container {
  display: flex;
  max-width: 30rem;
  max-height: 15rem;
  align-items: end;
  /* margin: 1rem; */
  padding: 1rem;
  background-color: aliceblue;
}

.car-image-card {
  width: 50%;
  height: 100%;
}

.car-description-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  width: 50%;
  height: 100%;
  padding: 1rem;
}

.car-image {
  height: 2rem;
  width: 2rem;
}

.color,
.engine-type {
  text-transform: capitalize;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
